---
Language: Cpp
BasedOnStyle: Google

AccessModifierOffset: -4
AlignAfterOpenBracket: AlwaysBreak
AlignConsecutiveDeclarations: false
AlignOperands: true
AllowShortBlocksOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: No
BinPackArguments: false
BinPackParameters: false
BreakBeforeBinaryOperators: None
BreakBeforeBraces: Linux
BreakBeforeTernaryOperators: false
BreakInheritanceList: AfterColon
ColumnLimit: 80
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
Cpp11BracedListStyle: true
IndentCaseBlocks: true
IndentCaseLabels: true
IndentWidth: 4
InsertNewlineAtEOF: true
IndentWrappedFunctionNames: true
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: true
SpaceBeforeCtorInitializerColon: false
SpaceBeforeInheritanceColon: false
SpaceBeforeRangeBasedForLoopColon: false
SpaceInEmptyParentheses: false
UseTab: Never
...